<div mat-content>
  <h1><span style="color:#ff4081; border:1px">Items</span></h1>

  <div>
    <button mat-button color="accent" (click)="onAdd()">
      Add
    </button>
    <button mat-button color="primary" (click)="onEdit()">
      Edit
    </button>
    <button mat-button color="primary" (click)="onDelete()">
      Delete
    </button>
  </div>

  <ag-grid-angular
    style="width: 1000px; height: 400px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="single"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
