<div class="container">
  <h1><span class="badge badge-secondary">Items</span></h1>
  <div
    class="btn-group"
    role="group"
    aria-label="Basic example"
    style="padding-bottom:10px"
  >
    <button type="button" class="btn btn-secondary" (click)="onAdd()">
      Add
    </button>
    <button type="button" class="btn btn-secondary" (click)="onEdit()">
      Edit
    </button>
    <button type="button" class="btn btn-secondary" (click)="onDelete()">
      Delete
    </button>
  </div>

  <ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="single"
  >
  </ag-grid-angular>
</div>
