<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="padding-bottom:10px">
    <!-- <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>    -->
    <!-- <nav>
  <a routerLink="/items" routerLinkActive="active">Items</a>
  <a routerLink="/about" routerLinkActive="active">About</a>  
</nav> -->

    <button class="btn btn-primary" (click)="toggleMenu()">
      ---
    </button>
  </div>

  <app-side-menu
    [@slideInOut]="menuState"
    (onMenuClicked)="toggleMenu()"
  ></app-side-menu>
  <router-outlet></router-outlet>
</div>
