<div>
  <h4 mat-dialog-title>{{ heading }}</h4>
  <h1><span style="color:#ff4081; border:1px">{{item.name}}</span></h1>
  <div mat-dialog-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="item.name"
          name="itemName"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Price"
          type="number"
          [(ngModel)]="item.price"
          name="price"
        />
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="item.inStock" name="inStock"
        >In Stock</mat-slide-toggle
      >
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Select a Type</mat-label>
        <mat-select [(value)]="item.type">
          <mat-option
            *ngFor="let itemType of itemTypes"
            [value]="itemType.id"
            >{{ itemType.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          [(ngModel)]="item.date"
          name="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" (click)="onSave()">Save</button>
    <button
      mat-button
      [mat-dialog-close]="data.animal"
      cdkFocusInitial
      color="primary"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</div>
